body {
    font-family: Cairo;
  
  }
  
  .row-centered {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    background: white;
    float: 0;
    border: none;
    box-shadow: 0px 10px 15px -2px rgba(0, 0, 0, 0.25);
  }
  
  .card > img {
    margin:auto;
    width: 100%;
    padding: none !important;
  }
  
  .avatar {
     position: relative;
     margin-top: -55px;
     width: 120px;
     height: 120px;
     background: #fff;
     padding: 5px;
     border: none;
     border-radius: 50%;
   }
  
   .avatar2 {
    position: relative;
    width: 150px;
    height: 150px;
    padding: 5px;
    border: none;
    margin: 20px;
    border-radius: 50%;
    background: red;
    background: -webkit-linear-gradient(left, rgb(255, 136, 0), red);
    background: -o-linear-gradient(right, rgb(255, 136, 0), red);
    background: -moz-linear-gradient(right, rgb(255, 136, 0), red);
    background: linear-gradient(to right, rgb(255, 136, 0), red);
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.25);
    transition: all ease-in-out 0.25s;
   }
  
   .card-body {
     margin: 0 35px;
   }
  
   .card-body > h4 {
     font-weight: 300;
     margin: 25px;
     color: rgb(38, 0, 255);
  }
  
  .card-body > .bio {
    font-size: 20px;
    color: rgb(38, 0, 255);
    font-weight: 300px;
  }
  
  .card-body > .details {
    font-size: 13px;
  }
  
  .card-body > .details > p > span:hover {
    color: #00ff0d;
    transition: all ease-in-out 0.25s;
  }
  
  
  .card-body > .btn {
    font-size: 17px;
    color: white !important;
    border: none;
    margin: 15px;
    border-radius: 30px;
    padding: 6px 30px;
    background: red;
    background: -webkit-linear-gradient(left, violet, indigo);
    background: -o-linear-gradient(right, violet, indigo);
    background: -moz-linear-gradient(right, violet, indigo);
    background: linear-gradient(to right, violet, indigo);
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.5);
  }
  
  .card-body > .btn:hover {
    font-size: 17px;
    color: white !important;
    border: none;
    margin: 15px;
    word-spacing: 10px;
    border-radius: 30px;
    padding: 6px 30px;
    cursor: pointer;
    background: red;
    background: -webkit-linear-gradient(left, rgb(255, 136, 0), red);
    background: -o-linear-gradient(right, rgb(255, 136, 0), red);
    background: -moz-linear-gradient(right, rgb(255, 136, 0), red);
    background: linear-gradient(to right, rgb(255, 136, 0), red);
    box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.25);
    transition: all ease-in-out 0.25s;
  }
  
  .card-body > .details > p > span {
    margin-right: 20px;
    color: #bdbdbd;
    font-size: 15px;
  }
  
  #socBtn > a {
    margin: 5px;
    font-size: 20px;
    background: white;
    color: #bdbdbd;
    border: none;
    border-radius: 30px;;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.25);
  }
  
  
  
  #socBtn > a > .mdi-facebook:hover {
    color: rgba(59, 89, 152);
    transition: all ease-in-out 0.25s;
  }
  
  #socBtn > a > .mdi-instagram:hover {
    color: #D92E7F;
    transition: all ease-in-out 0.25s;
  }
  
  #socBtn > a > .mdi-twitter:hover {
    color: #55acee;
    transition: all ease-in-out 0.25s;
  }
  
  #cb2 {
    display: none;
    position: relative;
  }
  
  .check {
    font-size: 25px;
    color: rgb(255, 0, 0);
  }
  
  .check:hover {
    font-size: 25px;
    color: rgb(255, 0, 0);
    cursor: pointer;
  }
  
  
  
    
  /* #socBtn > .mdi-linkedin:hover {
    color: #007bb5;
    transition: all ease-in-out 0.25s;
  }
  
  #socBtn > .mdi-google-plus:hover {
    color: #f00;
    transition: all ease-in-out 0.25s;
  }
  
  #socBtn > .mdi-gmail:hover {
    color: #f00;
    transition: all ease-in-out 0.25s;
  } */
  
  
  
  
  